{% extends "../layout.twig" %}

{% block title %}Login{% endblock %}

{# remove header #}
{% block header %}{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/css/login.css" />
{% endblock %}

{% block javascript %}
    <script src="/js/login.js"></script>
{% endblock %}

{% block body %}

    <div id="cover" style="background-image: url('http://commons.studyrama.com/data/bc2e/152/photo_2758.jpg');"></div>

    <form id="login">

        <div class="text-center">
            <strong id="incorrect-information">Login ou mot de passe incorrect</strong>
        </div>

        <input type="text" name="login" placeholder="Login" class="form-control" required
        data-toggle="tooltip" data-html="true" title="Entrer vos <strong>identifiants moodle</strong> afin de vous connecter"/>

        <input type="password" name="password" placeholder="Mot de passe" class="form-control" required/>

        <input type="submit" class="btn" value="Connexion">

        <div class="text-center">
            <div class="btn btn-dark" data-scroll="#discover">Découvrir</div>
        </div>

    </form>

    <div id="discover">

        <div class="container">
            test
        </div>

    </div>

{% endblock %}