<footer>
    <div class="container">
        <hr/>
        <div class="row">
            <div class="col-xs-6">
                <p>Panda Roux &reg;</p>
            </div>
            <div class="col-xs-6 text-right">
                2017
            </div>
        </div>

    </div>
</footer>