<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- bootstrap.css -->
    <link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

    <!-- bootstrap.css -->
    <link rel="stylesheet" href="/css/index.css" />
</head>
<body>
    <div class="container">
        <h1>All students</h1>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Name</th>
                        <th>Birthday</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="student : ${students}">
                        <td th:text="${student.id}" scope="row" ></td>
                        <td th:text="${student.name}"></td>
                        <td th:text="${student.birthday}">Pas de date de naissance</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row" id="addStudent">
            <div class="col-md-10">
                <input class="form-control" name="studentName" />
            </div>
            <div class="col-md-2">
                <button class="btn btn-success">Add</button>
            </div>
        </div>

    </div>



    <!-- jquery.js -->
    <script src="webjars/jquery/3.2.0/jquery.min.js"></script>

    <!-- bootstrap.js -->
    <script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- index.js -->
    <script src="/js/index.js"></script>
</body>
</html>